.popup__image-description {
    margin-top: 10px;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    max-width: 291px;
    color: #FFFFFF;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@media (max-width: 768px) {
    .popup__image-description {
        max-width: 240px;
    }
}