.profile__avatar {
    height: 127px;
    margin-right: 20px;
    border-radius: 50%;
}

@media (max-width: 768px) {
    .profile__avatar {
        margin: 0 auto 22px auto;

        /*position: center;*/
    }
}