@import url(../blocks/page/page.css);

@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);

@import url(../blocks/profile/profile.css);
@import url(../blocks/profile/__info/profile__info.css);
@import url(../blocks/profile/__avatar/profile__avatar.css);
@import url(../blocks/profile/__name/profile__name.css);
@import url(../blocks/profile/__edit-button/profile__edit-button.css);
@import url(../blocks/profile/__description/profile__description.css);
@import url(../blocks/profile/__add-button/profile__add-button.css);

@import url(../blocks/places/places.css);
@import url(../blocks/places/__frame/places__frame.css);
@import url(../blocks/places/__element/places__element.css);
@import url(../blocks/places/__description-flex/places__description-flex.css);
@import url(../blocks/places/__description/places__description.css);
@import url(../blocks/places/__button/places__button.css);

@import url(../blocks/footer/footer.css);


.form {

}

.popup {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    background-color: black;
    /*opacity: 0.5;*/
    z-index: 0;
}

.popup_opened {
    display: flex;
}

.popup__container {
    width: 430px;
    height: 330px;
    background-color: white;
    border-radius: 10px;
    z-index: 100;

}

.popup__overlay {
    max-width: 100%;
    height: 100%;
}

.popup__button-container {
    padding-top: 48px;
}

.popup__button {
    width: 358px;
    height: 50px;
    margin: auto 36px auto 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    border-radius: 2px;
    border: 0;
    color: white;
}

.popup__header {
    padding: 34px 36px 24px ;
    margin: 0;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
}

.form__text-input {
    width: 358px;
    height: 27px;
    border: 0;
    margin: 0 auto;
    padding: 30px 0 0 0;
    display: flex;
    text-align: center;
}

.form__text {
    border-top: 0;
    border-left: 0;
    border-bottom: 1px solid gray;
    border-right: 0;
    width: 100%;
    font-size: 14px;
    line-height: 17px;
}

.popup__close-button {



}